.checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;

  &__input {
    display: none;
  }

  &__box {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 1px;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    border: 1px solid $color-grey-dark;
  }

  &__input:checked + .checkbox__box {
    border-color: $color-secondary;
  }

  &__input:checked + .checkbox__box:after,
  &__input:checked + .checkbox__box:before {
    position: absolute;
    content: '';
    width: 2px;
    background-color: $color-secondary;
  }
  &__input:checked + .checkbox__box:after {
    height: 5px;
    right: 7px;
    top: 5px;
    transform: rotate(-45deg);
  }
  &__input:checked + .checkbox__box:before {
    height: 8px;
    right: 3px;
    top: 2px;
    transform: rotate(32deg);
  }

  &__title {
    line-height: 1.3;
    font-size: $font-size-m;
    display: inline-block;
    vertical-align: middle;
  }
}
