.list {
  font-size: 0;

  &__item {
    font-size: $font-size-m;
    display: inline-block;
    width: 100%;
    margin-bottom: $space-lg;
    vertical-align: top;

    @media (min-width: 850px) and (max-width: 1099px) {
      width: 49%;
      margin-right: 2%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @media (min-width: 1100px) {
      width: 32%;
      margin-right: 2%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.settings {
  border-radius: 10px;
  background-color: $color-grey-light;
  padding: 15px;
  margin-bottom: 25px;

  &__item {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 1050px) {
      width: 33%;
      margin-bottom: 0;
    }

    img {
      vertical-align: middle;
    }
  }

  &__name {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
  }

  &__select {
    border-radius: 10px;
    padding: 0 25px;
  }

  &__compare {
    img {
      margin-right: 5px;
    }
  }
}
.pagination {
  text-align: center;
  .btn__more {
    width: 169px;
    height: 30px;
    background-color: $color-grey-light;
    border-radius: 30px;
    text-align: center;
    border: none;
  }
  &__list {
    float: right;
    a {
      color: $color-text;
      &:hover,
      :focus {
        text-decoration: none;
        color: $color-primary;
      }
      &.active {
        color: $color-primary;
      }
    }
    ul {
      position: relative;

      li {
        display: inline-block;
        padding: 2px 8px;
        background-color: $color-grey-light;
        border-radius: 30px;
      }
    }
  }
}

.pagination {
  text-align: center;

  .btn__more {
    width: 169px;
    height: 30px;
    background-color: $color-grey-light;
    border-radius: 30px;
    text-align: center;
    border: none;
  }
  &__list {
    float: right;
    a {
      color: $color-text;
      &:hover,
      :focus {
        text-decoration: none;
        color: $color-primary;
      }
      &.active {
        color: $color-primary;
      }
    }
    ul {
      position: relative;

      li {
        display: inline-block;
        padding: 2px 8px;
        background-color: $color-grey-light;
        border-radius: 30px;
      }
    }
  }
}
