.breadcrumb {
  background-color: #f1f1f1;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 60px;
  &-link {
    font-size: 12px;
    float: left;
    a {
      color: #00c6e6;
      &:hover,
      :focus {
        color: #00c6e6;
      }
    }
    span {
      color: #a9a9a9;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .anchor {
    font-size: 12px;
    float: right;
    a {
      margin-left: 10px;
      color: #a9a9a9;
      &:hover,
      :focus {
        color: #a9a9a9;
      }
    }
  }
}
