.share {
  margin-bottom: 100px;
  &-container {
    border-radius: 10px;
    background-color: #00bce9;
    color: #fff;
    padding: 40px;
  }
  h2 {
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0;
    color: #fff;
  }
  p {
    font-weight: 300;
  }
}

@media screen and (max-width: 320px) {
  .share-container {
    padding: 20px;
  }
  .share h2 {
    margin-bottom: 10px;
  }
}
