.container {
  width: 100%;
  max-width: 1200px;
}
.person_order {
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
  background-color: $color-background;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.btn {
  height: 30px;
  color: #fff;
  background-color: $color-brand;
  border-radius: 30px;
  margin-top: 20px;
  border: none;
  padding: 0 20px;
}
.share {
  h3 {
    text-transform: uppercase;
  }
  img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
.main {
  padding-bottom: 60px;
}
.filter {
  float: left;
  width: 250px;
}
.body {
  padding-left: 280px;
  &__header {
    padding-left: 15px;
    margin-bottom: 20px;
    .editor {
      margin-bottom: 20px;
    }
    &_filter {
      padding: 15px;
      background-color: $color-background;
      border-radius: 10px;
      a {
        color: $color-brand;
        margin-right: 5px;
      }
    }
  }
  &__footer {
    iframe {
      width: 560px;
      float: right;
      display: inline-block;
    }
    p {
      margin-bottom: 10px;
    }
    ul {
      display: inline-block;
    }
  }
}
.title {
  color: #666666;
  font-size: 24px;
}
.description {
  color: #a9a9a9;
  font-size: 14px;
}
